Tutorial: Data Abstraction
==========================

Objective:

> Learning how to specify project data source requirements independently of actual data to achieve portability while maintaining reproducibility.

Principles:

1. Projects are decoupled from physical data sources through their _Schemas_.
2. If capable, the runtime platform resolves project data requirements using one of its configured _feeds_.
3. This tutorial workspace is provided with two dummy schemas (see the local [tutorial.py](tutorial.py) module): `tutorial.Dummy` 
4. This tutorial platform is configured with a feed capable of resolving data for these schemas.

Schema Catalog
--------------

In [1]:
from IPython import display
display.Code('dummycatalog.py')

"""
This is a FooBarBaz schema catalog used throughout the ForML tutorial.
"""
from forml.io import dsl


class Foo(dsl.Schema):
    """Foo dataset schema."""

    Timestamp = dsl.Field(dsl.Timestamp())
    Label = dsl.Field(dsl.Integer())
    Code = dsl.Field(dsl.String())
    Value = dsl.Field(dsl.Float())
    Bar = dsl.Field(dsl.Integer())


class Bar(dsl.Schema):
    """Bar dataset schema."""

    Key = dsl.Field(dsl.Integer())
    Length = dsl.Field(dsl.Float())
    Color = dsl.Field(dsl.String())


class Baz(dsl.Schema):
    """Baz dataset schema.

    Note: To demonstrate an unavailable dataset, this schema is deliberately
          not resolved by any of the feeds configured in this tutorial
          environment.
    """

    Key = dsl.Field(dsl.Integer())
    Name = dsl.Field(dsl.String())
    Dob = dsl.Field(dsl.Date())

Basic Data Loading
------------------

In [4]:
from forml import project
from forml.pipeline import payload
from dummycatalog import Foo, Bar, Baz

PIPELINE = payload.ToPandas()

Loading data in the ForML concept requires defining a `Source` descriptor using a _data requirements statement_. We then bind it to a minimal _pipeline_ (turning it to Pandas dataframe) to get a launchable project artifact:

In [5]:
STATEMENT = Foo

project.Source.query(STATEMENT).bind(PIPELINE).launcher.apply()

             Timestamp  Label     Code  Value  Bar
0  2021-05-05 03:12:19      1    alpha   0.26    1
1  2021-05-11 11:27:50      1    tango   0.14    3
2  2021-05-11 17:35:27      0     zulu   0.57    4
3  2021-05-06 19:49:43      1    bravo   0.45    2
4  2021-05-12 08:53:35      0  charlie   0.83    5
5  2021-05-12 22:06:04      0    delta   0.61    6
6  2021-05-07 13:17:43      1     echo   0.12    1
7  2021-05-13 16:25:18      1     golf   0.23    3
8  2021-05-13 06:31:58      0  foxtrot   0.92    4
9  2021-05-08 15:48:20      0   yankee   0.68    5
10 2021-05-14 19:56:01      1     lima   0.35    2
11 2021-05-14 04:03:32      0    india   0.54    6
12 2021-05-09 01:18:13      1  uniform   0.07    1
13 2021-05-15 19:24:46      1    romeo   0.16    3
14 2021-05-15 21:31:22      0    oscar   0.84    4
15 2021-05-16 23:48:57      0   quebec   0.74    5
16 2021-05-16 00:56:39      1    hotel   0.45    2
17 2021-05-10 16:06:06      0     papa   0.59    6
18 2021-05-17 14:17:43      1   victor   0.33    1
19 2021-05-17 06:52:51      0    hotel   0.72    6

Advanced Query DSL
------------------
The data requirements can be refined more granularly using the [Query DSL Syntax](https://docs.forml.io/en/latest/dsl/query/syntax.html) providing the following:

* 
* aggregation ([.groupby()](https://docs.forml.io/en/latest/dsl/query/design.html#forml.io.dsl.Queryable.groupby) method)
* joining multiple schemas ([.*_join()](https://docs.forml.io/en/latest/dsl/query/design.html#forml.io.dsl.Origin.inner_join) methods)
* and more...

### Column Projection

* use the [Foo.select()](https://docs.forml.io/en/latest/dsl/query/design.html#forml.io.dsl.Queryable.select) method
* schema columns are referenced using the syntax of `Schema.FeatureName`

Extend the basic Statement to select just the `Code`, `Value` and `Timestamp` columns:

In [6]:
STATEMENT = Foo.select(
    Foo.Code,
    Foo.Value,
    Foo.Timestamp
)

project.Source.query(STATEMENT).bind(PIPELINE).launcher.apply()

INFO: 2023-05-16 15:55:49,593: lazy: Loading Foo

       Code  Value           Timestamp
0     alpha   0.26 2021-05-05 03:12:19
1     tango   0.14 2021-05-11 11:27:50
2      zulu   0.57 2021-05-11 17:35:27
3     bravo   0.45 2021-05-06 19:49:43
4   charlie   0.83 2021-05-12 08:53:35
5     delta   0.61 2021-05-12 22:06:04
6      echo   0.12 2021-05-07 13:17:43
7      golf   0.23 2021-05-13 16:25:18
8   foxtrot   0.92 2021-05-13 06:31:58
9    yankee   0.68 2021-05-08 15:48:20
10     lima   0.35 2021-05-14 19:56:01
11    india   0.54 2021-05-14 04:03:32
12  uniform   0.07 2021-05-09 01:18:13
13    romeo   0.16 2021-05-15 19:24:46
14    oscar   0.84 2021-05-15 21:31:22
15   quebec   0.74 2021-05-16 23:48:57
16    hotel   0.45 2021-05-16 00:56:39
17     papa   0.59 2021-05-10 16:06:06
18   victor   0.33 2021-05-17 14:17:43
19    hotel   0.72 2021-05-17 06:52:51

### Row Ordering

* use the [Foo.orderby()](https://docs.forml.io/en/latest/dsl/query/design.html#forml.io.dsl.Queryable.orderby) method

Extend the basic statement to order the records by `Timestamp`:

In [7]:
STATEMENT = Foo.orderby(Foo.Timestamp)

project.Source.query(STATEMENT).bind(PIPELINE).launcher.apply()

INFO: 2023-05-16 15:55:56,147: lazy: Loading Foo

             Timestamp  Label     Code  Value  Bar
0  2021-05-05 03:12:19      1    alpha   0.26    1
1  2021-05-06 19:49:43      1    bravo   0.45    2
2  2021-05-07 13:17:43      1     echo   0.12    1
3  2021-05-08 15:48:20      0   yankee   0.68    5
4  2021-05-09 01:18:13      1  uniform   0.07    1
5  2021-05-10 16:06:06      0     papa   0.59    6
6  2021-05-11 11:27:50      1    tango   0.14    3
7  2021-05-11 17:35:27      0     zulu   0.57    4
8  2021-05-12 08:53:35      0  charlie   0.83    5
9  2021-05-12 22:06:04      0    delta   0.61    6
10 2021-05-13 06:31:58      0  foxtrot   0.92    4
11 2021-05-13 16:25:18      1     golf   0.23    3
12 2021-05-14 04:03:32      0    india   0.54    6
13 2021-05-14 19:56:01      1     lima   0.35    2
14 2021-05-15 19:24:46      1    romeo   0.16    3
15 2021-05-15 21:31:22      0    oscar   0.84    4
16 2021-05-16 00:56:39      1    hotel   0.45    2
17 2021-05-16 23:48:57      0   quebec   0.74    5
18 2021-05-17 06:52:51      0    hotel   0.72    6
19 2021-05-17 14:17:43      1   victor   0.33    1

### Row Count Limitation

Hints: 
* use the ([Foo.limit()](https://docs.forml.io/en/latest/dsl/query/design.html#forml.io.dsl.Queryable.limit) method)

Extend the statement to limit the result just to 5 records:

In [9]:
STATEMENT = Foo.limit(5)

project.Source.query(STATEMENT).bind(PIPELINE).launcher.apply()

INFO: 2023-05-16 16:22:40,286: lazy: Loading Foo

            Timestamp  Label     Code  Value  Bar
0 2021-05-05 03:12:19      1    alpha   0.26    1
1 2021-05-11 11:27:50      1    tango   0.14    3
2 2021-05-11 17:35:27      0     zulu   0.57    4
3 2021-05-06 19:49:43      1    bravo   0.45    2
4 2021-05-12 08:53:35      0  charlie   0.83    5

### Row Filtering

* use the [Foo.where()](https://docs.forml.io/en/latest/dsl/query/design.html#forml.io.dsl.Queryable.where) method
* native Python operators and literals (e.g. integers, strings, but also `datetime` instances) can be used directly on Schema columns to compose expressions

Extend the statement to filter just rows with `Timestamp` after `2021-05-13`:

In [10]:
from datetime import datetime

STATEMENT = Foo.where(Foo.Timestamp > datetime(2021, 5, 13))

project.Source.query(STATEMENT).bind(PIPELINE).launcher.apply()

INFO: 2023-05-16 16:25:47,972: lazy: Loading Foo

            Timestamp  Label     Code  Value  Bar
0 2021-05-13 16:25:18      1     golf   0.23    3
1 2021-05-13 06:31:58      0  foxtrot   0.92    4
2 2021-05-14 19:56:01      1     lima   0.35    2
3 2021-05-14 04:03:32      0    india   0.54    6
4 2021-05-15 19:24:46      1    romeo   0.16    3
5 2021-05-15 21:31:22      0    oscar   0.84    4
6 2021-05-16 23:48:57      0   quebec   0.74    5
7 2021-05-16 00:56:39      1    hotel   0.45    2
8 2021-05-17 14:17:43      1   victor   0.33    1
9 2021-05-17 06:52:51      0    hotel   0.72    6

### Multiple Datasets Joining

Hints: 
* use the [Foo.inner_join()](https://docs.forml.io/en/latest/dsl/query/design.html#forml.io.dsl.Origin.inner_join) method

Extend the basic statement to join the `Foo` schema with `Bar` using the `Foo.Bar == Bar.Key` condition:

In [11]:
STATEMENT = Foo.inner_join(Bar, Foo.Bar == Bar.Key)

project.Source.query(STATEMENT).bind(PIPELINE).launcher.apply()

             Timestamp  Label     Code  Value  Bar  Key  Length   Color
0  2021-05-05 03:12:19      1    alpha   0.26    1    1    0.69     red
1  2021-05-11 11:27:50      1    tango   0.14    3    3    0.58  yellow
2  2021-05-11 17:35:27      0     zulu   0.57    4    4    0.53   green
3  2021-05-06 19:49:43      1    bravo   0.45    2    2    0.61  orange
4  2021-05-12 08:53:35      0  charlie   0.83    5    5    0.47    blue
5  2021-05-12 22:06:04      0    delta   0.61    6    6    0.41  violet
6  2021-05-07 13:17:43      1     echo   0.12    1    1    0.69     red
7  2021-05-13 16:25:18      1     golf   0.23    3    3    0.58  yellow
8  2021-05-13 06:31:58      0  foxtrot   0.92    4    4    0.53   green
9  2021-05-08 15:48:20      0   yankee   0.68    5    5    0.47    blue
10 2021-05-14 19:56:01      1     lima   0.35    2    2    0.61  orange
11 2021-05-14 04:03:32      0    india   0.54    6    6    0.41  violet
12 2021-05-09 01:18:13      1  uniform   0.07    1    1    0.69     red
13 2021-05-15 19:24:46      1    romeo   0.16    3    3    0.58  yellow
14 2021-05-15 21:31:22      0    oscar   0.84    4    4    0.53   green
15 2021-05-16 23:48:57      0   quebec   0.74    5    5    0.47    blue
16 2021-05-16 00:56:39      1    hotel   0.45    2    2    0.61  orange
17 2021-05-10 16:06:06      0     papa   0.59    6    6    0.41  violet
18 2021-05-17 14:17:43      1   victor   0.33    1    1    0.69     red
19 2021-05-17 06:52:51      0    hotel   0.72    6    6    0.41  violet

Exercise
--------

Formulate a DSL query to...

Unavailable Datasets
--------------------

Resolving project data requirements based on references to catalogized schemas might be unsuccessful if the runtime platform can't provide the particular dataset:

In [12]:
STATEMENT = Baz

project.Source.query(STATEMENT).bind(PIPELINE).launcher.apply()

MissingError: None of the 2 available feeds provide all of the required sources